In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import folium 
from sample_site_class import SampleSite

In [5]:
cd src/

[Errno 2] No such file or directory: 'src/'
/Users/annierumbles/Desktop/Coding/galvanize/capstone_work/src

In [6]:
df = pd.read_csv('/Users/annierumbles/Desktop/Coding/galvanize/capstone_work/data/latest_knb-lter-nwt.96.16/snowateq.mw.data.16.csv')

In [7]:
df2 = pd.to_datetime(df['date'])
df2.head()

0   1993-02-26
1   1993-02-26
2   1993-02-26
3   1993-02-26
4   1993-03-04
Name: date, dtype: datetime64[ns]

In [8]:
df_15 = pd.read_csv('/Users/annierumbles/Desktop/Coding/galvanize/capstone_work/data/knb-lter-nwt.96.15/snowateq.mw.data.15.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 10 columns):
LTER_site     1264 non-null object
local_site    1251 non-null object
samp_loc      1264 non-null object
loc_code      1264 non-null object
date          1264 non-null object
prof_depth    1264 non-null float64
mass          1198 non-null float64
wted_temp     1238 non-null float64
density       1198 non-null float64
swe           1198 non-null float64
dtypes: float64(5), object(5)
memory usage: 98.8+ KB

In [10]:
df.head()

,LTER_site,local_site,samp_loc,loc_code,date,prof_depth,mass,wted_temp,density,swe
0,NWT,SADDLE,SDL.008,008,1993-02-26,0.73,223.81,-8.356164,306.589041,0.22381
1,NWT,SADDLE,SDL.028,028,1993-02-26,0.38,100.84,-7.684211,265.368421,0.10084
2,NWT,SADDLE,SDL.056,056,1993-02-26,1.90,NaN,-8.000000,NaN,NaN
3,NWT,SADDLE,SDL.058,058,1993-02-26,0.59,181.06,-7.305085,306.881356,0.18106
4,NWT,SADDLE,SDL.007,007,1993-03-04,0.49,182.04,-5.489796,371.510204,0.18204

In [11]:
local_site_names = df['local_site'].unique()
list(local_site_names)

['SADDLE',
 'GL4',
 'GL5',
 'NAVAJO',
 'MARTINELLI',
 'ARIKAREE',
 'SUBNIVEAN',
 'ALBION',
 'GL3',
 'TOWER MEADOW',
 'TOWER TREE WELL',
 'C1',
 'SODDIE',
 nan]

In [12]:
type(df['date'][4])

str

In [13]:
len(df['local_site'].unique())

14

In [14]:
df['LTER_site'].unique()

array(['NWT'], dtype=object)

In [15]:
locs = df['loc_code'].unique()

In [16]:
locs_list = []
for i in locs:
    locs_list.append(i)

In [17]:
len(locs_list)

68

In [18]:
df.describe()

        prof_depth         mass    wted_temp      density          swe
count  1264.000000  1198.000000  1238.000000  1198.000000  1198.000000
mean      1.381930   544.902083    -2.904826   379.745244     0.544902
std       0.705884   315.118658     2.858923    82.024627     0.315119
min       0.070000    26.743889   -17.500000   117.250000     0.026744
25%       0.800000   271.967500    -4.812997   325.418651     0.271967
50%       1.350000   520.508333    -2.400000   379.563492     0.520508
75%       1.900000   785.525000    -0.136132   437.673872     0.785525
max       4.500000  1724.925000     0.187500   628.425150     1.724925

In [19]:
m = folium.Map(location=[40.047388, -105.599580],
               zoom_start=13,
               tiles='Stamen Terrain')
m.add_child(folium.LatLngPopup())

folium.Marker([40.054155, -105.588980], 
              popup='<b>Niwot Ridge</b>').add_to(m)

folium.CircleMarker(
    location=[40.047388, -105.599580],
    radius=5,
    popup='Albion',
    color='#3186cc',
    fill=True,
    fill_color='#3186cc'
).add_to(m)

bound = [40.0595312337778, -105.641638199194, 40.03529240189, -105.543478944916]
# folium.vector_layers.BaseMultiLocation(locations= bound)
folium.vector_layers.Rectangle(
    bounds = [(40.0595312337778, -105.641638199194), (40.03529240189, -105.543478944916)],
    stroke=True,
    weight=1,
    opacity=.8,
    color='#3186cc',
    fill=True,
    fill_color='#3186cc',
    fill_opacity=.25
).add_to(m)

In [20]:
df_swe = df.copy()
df_swe['date'] = pd.to_datetime(df['date'])
df_swe.dropna(axis=0, how='all', inplace=False)
df_swe.dropna(axis=0, how='any', subset=['swe'], inplace=True)
df_swe.sort_values(['date', 'local_site'], inplace=True)
df_swe.reset_index(drop=True, inplace=True)

In [21]:
df_swe['date'][56]

Timestamp('1993-06-16 00:00:00')

In [22]:
df_swe.head()

,LTER_site,local_site,samp_loc,loc_code,date,prof_depth,mass,wted_temp,density,swe
0,NWT,SADDLE,SDL.008,008,1993-02-26,0.73,223.81,-8.356164,306.589041,0.22381
1,NWT,SADDLE,SDL.028,028,1993-02-26,0.38,100.84,-7.684211,265.368421,0.10084
2,NWT,SADDLE,SDL.058,058,1993-02-26,0.59,181.06,-7.305085,306.881356,0.18106
3,NWT,SADDLE,SDL.007,007,1993-03-04,0.49,182.04,-5.489796,371.510204,0.18204
4,NWT,SADDLE,SDL.028,028,1993-03-04,0.30,101.70,-6.333333,339.000000,0.10170

In [23]:
local_site_names = list(local_site_names)
len(local_site_names)

14

In [24]:
names = list(df_swe['local_site'].unique())
# lowered = [n.lower() for n in names]
objs = [SampleSite(i, df_swe) for i in names]

saddle =objs[0] 
gl4 = objs[1] 
gl5 = objs[2] 
navajo = objs[3] 
martinelli = objs[4] 
arikaree = objs[5] 
subnivean = objs[6] 
albion = objs[7] 
gl3 = objs[8] 
tower_meadow = objs[9] 
tower_tree_hill = objs[10] 
c1 = objs[11] 
soddie = objs[12] 
nan = objs[13]

In [25]:
out = pd.cut(saddle.df['date'], bins=27, labels=np.arange(1993, 2020))
out==1993
np.mean(saddle.df['swe'])

0.541273802250809

In [26]:
mask = saddle.df['date'] < '1995-01-01' 
mask = (saddle.df['date'] >= '1995-01-01') & (saddle.df['date'] < '1996-01-01')
new_df = saddle.df[mask]

In [27]:
new_df

,LTER_site,local_site,samp_loc,loc_code,date,prof_depth,mass,wted_temp,density,swe
64,NWT,SADDLE,SDL.006,006,1995-01-24,0.50,182.900000,-10.780000,365.800000,0.182900
65,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-01-24,2.00,900.200000,-5.935000,450.100000,0.900200
66,NWT,SADDLE,SDL.006,006,1995-01-31,0.68,280.860000,-7.479412,413.029412,0.280860
67,NWT,SADDLE,SDL.006,006,1995-02-07,0.41,159.500000,-7.117073,389.024390,0.159500
68,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-02-07,2.10,931.300000,-4.542857,443.476190,0.931300
69,NWT,SADDLE,SDL.006,006,1995-02-14,1.11,340.250000,-7.235135,306.531532,0.340250
70,NWT,SADDLE,SDL.006,006,1995-02-21,1.05,358.500000,-6.033333,341.428571,0.358500
71,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-02-21,2.25,969.000000,-4.257778,430.666667,0.969000
72,NWT,SADDLE,SDL.006,006,1995-02-28,1.17,398.320000,-5.572650,340.444444,0.398320
73,NWT,SADDLE,SDL.006,006,1995-03-14,1.54,572.660000,-5.157143,371.857143,0.572660
74,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-03-14,2.10,1007.000000,-3.023810,479.523810,1.007000
75,NWT,SADDLE,SDL.006,006,1995-03-21,1.50,601.900000,-3.426667,401.266667,0.601900
76,NWT,SADDLE,SDL.006,006,1995-04-04,1.60,625.600000,-4.475000,391.000000,0.625600
77,NWT,SADDLE,SDL.006,006,1995-04-18,1.80,683.200000,-3.783333,379.555556,0.683200
78,NWT,SADDLE,SDL.006,006,1995-04-25,2.30,825.000000,-4.030435,358.695652,0.825000
79,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-04-25,2.50,1061.000000,-2.604000,424.400000,1.061000
80,NWT,SADDLE,SDL.006,006,1995-05-04,2.56,932.700000,-2.796875,364.335938,0.932700
81,NWT,SADDLE,SDL.006,006,1995-05-10,2.50,965.300000,-2.840000,386.120000,0.965300
82,NWT,SADDLE,SDL.N15.NH4,nh4,1995-05-10,1.40,695.684048,-2.778571,496.917177,0.695684
83,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-05-10,2.38,1118.500000,-1.879832,469.957983,1.118500
84,NWT,SADDLE,SDL.006,006,1995-05-15,2.60,1025.700000,-2.211538,394.500000,1.025700
85,NWT,SADDLE,SDL.N15.NH4,nh4,1995-05-22,1.36,557.445000,-0.330882,409.886029,0.557445
86,NWT,SADDLE,SDL.006,006,1995-05-23,2.55,1146.900000,-0.274510,449.764706,1.146900
87,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-05-25,2.85,1284.550000,-0.245614,450.719298,1.284550
88,NWT,SADDLE,SDL.006,006,1995-06-01,2.95,1348.750000,0.000000,457.203390,1.348750
89,NWT,SADDLE,SDL.N15.NCO,nco,1995-06-01,1.50,656.750278,0.000000,437.833519,0.656750
90,NWT,SADDLE,SDL.006,006,1995-06-08,2.70,1308.300000,0.000000,484.555556,1.308300
91,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-06-08,2.70,1360.100000,0.000000,503.740741,1.360100
92,NWT,SADDLE,SDL.006,006,1995-06-14,2.60,1356.900000,0.000000,521.884615,1.356900
93,NWT,SADDLE,SDL.013,013,1995-06-14,2.60,1407.300000,0.000000,541.269231,1.407300
94,NWT,SADDLE,SDL.006,006,1995-06-20,2.19,1156.460000,0.000000,528.063927,1.156460
95,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-06-21,2.10,1096.900000,0.000000,522.333333,1.096900
96,NWT,SADDLE,SDL.006,006,1995-06-27,1.75,866.900000,0.000000,495.371429,0.866900
97,NWT,SADDLE,SDL.006,006,1995-07-05,1.70,797.800000,0.000000,469.294118,0.797800
98,NWT,SADDLE,SDL.N15.THERMISTOR3E,t3e,1995-07-10,1.23,729.422727,0.000000,593.026608,0.729423